.wave {
  min-height: 110vh;
  position: relative;
  color: white;
  background: rgb(13, 71, 161);
  background: linear-gradient(
    180deg,
    rgba(13, 71, 161, 1) 0%,
    rgba(33, 150, 243, 1) 75%
  );
}

.heading {
  text-align: center;
  letter-spacing: 0.3rem;
  max-width: 80%;
  margin: 0 auto;
}

.heading h1 {
  padding: 3rem 0 2rem 0;
}

.heading p {
  padding-top: 1rem;
}

.registration {
  margin-top: 2rem;
}

.registration button {
  margin-top: 1rem;
  background-color: rgb(242, 162, 33);
  color: white;
  border: none;
}

.registration input {
  border: 2px solid #eeeeee;
}

.registration button,
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
}

/* ::after was preventing click events on links / buttons, using pointer-events:none; was the solution
https://stackoverflow.com/questions/25777599/css-after-content-below-a-select-element-causes-click-not-to-work */
.wave::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 0;
  height: 110vh;
  width: 100%;
  background: url('../../images//waveSm.svg') bottom center no-repeat;
  pointer-events: none;
}

@media screen and (min-width: 576px) {
  .registration button,
  input {
    min-width: 70%;
  }
}

@media screen and (min-width: 728px) {
  .wave::after {
    top: 1%;
    background: url('../../images//wave.svg') bottom center no-repeat;
  }

  .registration button,
  input {
    min-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .registration button,
  input {
    min-width: 30%;
  }
}
