.home {
  min-height: 100vh;
  color: white;
  background: rgb(13, 71, 161);
  background: linear-gradient(
    180deg,
    rgba(13, 71, 161, 1) 0%,
    rgba(33, 150, 243, 1) 75%
  );
}

.home h1,
p {
  text-align: center;
  letter-spacing: 0.2rem;
}

.home h1 {
  padding: 3rem 0 1rem 0;
  font-size: 3.5rem;
}

.home p {
  padding-bottom: 5rem;
}

.home img {
  padding-top: 15vh;
  display: block;
  margin: 0 auto;
  width: 70%;
}

@media screen and (min-width: 576px) {
  .home img {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .home img {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .home img {
    width: 40%;
  }
}
