.sidebar {
  position: fixed;
  width: 17em;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background: rgb(255, 215, 64);
  background: linear-gradient(
    180deg,
    rgba(255, 215, 64, 1) 0%,
    rgba(242, 161, 34, 1) 80%
  );
  padding: 1em 1em;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

.sidebar__items {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

.sidebar__items a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

.sidebar__title {
  background-color: rgb(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  padding: 0.25rem 0;
}

.sidebar__items li {
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 0.25em 0.8em;
  margin-bottom: 1rem;
  border-bottom: 0.25em solid transparent;
  font-size: 1.2em;
  background-color: rgb(255, 143, 0, 0.5);
  border-radius: 1rem;
  letter-spacing: 0.15rem;
}

.sidebar__items li:hover,
.sidebar__items li:focus {
  text-decoration: none;
  background-color: rgb(255, 143, 0.8);
}
